.header {
    background: #007bff;
    border: none;
}
.userbox .name {
    color: #fff;
}
.userbox .custom-caret:before {
    content: "\f107";
    color: #fff;
}
.sidebar-left .sidebar-header .sidebar-toggle {
    background-color: #003C71;
    color:#C3C3C3;
}
html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-toggle i {
    color: #C3C3C3;
}

html.no-overflowscrolling .sidebar-left .nano {
    background: #003C71;
    -webkit-box-shadow: -5px 0 0 #2F3139 inset;
    box-shadow: -5px 0 0 #2F3139 inset;
}
.sidebar-left {
    background: #003C71;
    z-index: 1010;
}
html.sidebar-light:not(.dark) .sidebar-left .nano {
    -webkit-box-shadow: -5px 0 0 #003C71 inset;
    box-shadow: -5px 0 0 #003C71 inset;
    background: #003C71;
}
html.no-overflowscrolling.sidebar-light:not(.dark) .sidebar-left .nano {
    background: #003C71;
    -webkit-box-shadow: -5px 0 0 #003C71 inset;
    box-shadow: -5px 0 0 #003C71 inset;
}
html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-title {
    background: #003C71;
}
html.sidebar-light:not(.dark) .sidebar-left .sidebar-header .sidebar-toggle {
    background: #003C71;
}

ul.nav-main li a {
    display: block;
    color: #abb4be;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12.8px;
    font-size: 0.8rem;
}
html.sidebar-light:not(.dark) ul.nav-main li a {
    color: #abb4be;
}
html.sidebar-light:not(.dark) ul.nav-main > li.nav-active > a {
    color: #fff !important;
}

ul.nav-main li .nav-children {
    background: #082844;
    -webkit-box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    display: none;
    padding: 10px 0;
}
html.sidebar-light:not(.dark) ul.nav-main li .nav-children {
    background: #082844;
    -webkit-box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;
}

ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
    background-color: #2fb70d;
    color: #fff;
}

html.sidebar-light:not(.dark) ul.nav-main > li.nav-expanded > a:hover {
    background: #2fb70d;
    color: #fff;
}
html.sidebar-light:not(.dark) ul.nav-main > li > a:hover, html.sidebar-light:not(.dark) ul.nav-main > li > a:focus {
    background-color: #2fb70d;
    color: #fff;
}
html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:hover, html.sidebar-light:not(.dark) ul.nav-main li .nav-children li a:focus {
    background: #003c71;
    color: #fff;
}

html.sidebar-light:not(.dark) ul.nav-main > li.nav-expanded > a {
    background: #2fb70d;
    color: #fff;
}
html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
    background: #2fb70d;
}

ul.nav-main li .nav-children li.nav-active > .nav-link {
    color: #fff;
    background: #003c71;
}


@media only screen and (max-width: 767px){
    .header .logo-container .logo {
        line-height: 0px;
    }
    .header .logo-container {
        background: #007bff;
    }
}
@media only screen and (max-width: 550px){
    .switch.switch-sm .ios-switch {
        width: 95px;
        float: right;
        margin-top: 14px;
    }
    .header .header-right {
        text-align: center;
    }
}